<% stylesheets 'tweets' %>
<% # javascripts 'my-tsapp' %>
<% tweets = @page_object.tweets %>

<% if @page_object.tweetless? %>
<div class="tweetless">
</div>
<% else %>
<div class="profile-head">
<a href="http://twitter.com/<%=h tweets.first['user']['screen_name'] %>">
  <img id="profile-image" width="73" height="73" border="0" valign="middle" src="<%= tweets.first['user']['profile_image_url'] %>" alt="<%=h tweets.first['user']['name'] %>"/>
  <%=h tweets.first['user']['screen_name'] %>
  <span class="divider"> / </span>
  <span class="followers"><%=h tweets.first['user']['followers_count'] %> followers</span>
</a>
</div>

<ol id="timeline" class="statuses">
  <% for tweet in tweets %>

  <li id="status_<%=h tweet['id'] %>" class="status<%= ' latest-status' if tweet == tweets.first %>">
    <span class="status-body">
      <span class="entry-content">
    
        <% tweet_html = h(tweet['text']) %>
        <% tweet_html = tweet_html.gsub!(tweet['in_reply_to_screen_name'], "<a href=\"http://twitter.com/#{tweet['in_reply_to_screen_name']}\">#{tweet['in_reply_to_screen_name']}</a>") unless tweet['in_reply_to_screen_name'].blank? %>
      
        <%= auto_link(tweet_html) %>
      </span>
      <span class="meta entry-meta">
        <a class="entry-date" rel="bookmark" href="http://twitter.com/<%=h tweet['user']['screen_name'] %>/status/<%=h tweet['id'] %>">
          <span class="published">
            <% created_at_string = Time.parse(tweet['created_at']).strftime("%I:%M %p %b %d") %>
            <% e = "#{created_at_string[-1..-1]}" %>
        <%=h created_at_string %><%=h (e == '1' ? 'st' : (e == '2' ? 'nd' : (e == '3' ? 'rd' : 'th')))  %></span></a>
        <span>from <%= tweet['source'] %></span>
      </span>
    </span>
  </li>
  <% end %>
</ol>
<% end %>
